<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <title>Recipe</title>
</head>
<body>

    <div class="wrapper">
        <div class="nav">
            <h1>Welcome {{one_user.first_name}}</h1>
            <div>
                <h3><a href="/addRecipe">Create</a></h3>
                <h3><a href="/Logout">Logout</a></h3>
            </div>
        </div>
    
        <div class="main">
            <h3>Display All The Recipes</h3>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Under 30 Minutes?</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for one_recipe in all_recipes %}
                        <tr>
                            <td>{{one_recipe.name}}</td>
                            <td>{{one_recipe.thirty}}</td>
                            <td>
                                <a href="/showRecipe/{{one_recipe.id}}/show">View</a>
                                {% if one_user.id == one_recipe.user_id %}
                                | <a href="/editRecipe/{{one_recipe.id}}/edit">Edit</a> | 
                                <a href="/deleteRecipe/{{one_recipe.id}}/delete">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    
</body>
</html>
